.Search{
  transform: translate(-31px,150px);
  width: 70%;
  height: 67px;
  position: relative;
}
.Search input{
  border-radius: 50px;
  padding-left: 30px;
  width: 100%;
  box-shadow: 3px 3px 5px #fc4b4b;
  height: 100%;
  font-weight: 600;
  font-size: 16px;
}
input:focus {outline:1px solid #fc4b4b;
border: none;}
.Search div{
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  background: url(../../public/image/Search.png)no-repeat;
  background-position: center;
  background-size: cover;
  top: 20px;
  right: 5px;
}